   @tailwind base;
   @tailwind components;
   @tailwind utilities;

   html,
   body,
   #root,
   #app {
     height: 100%;
   }

   body {
     margin: 0;
     font-family: theme('fontFamily.sans');
     background-color: #ffffff;
   }
